@model IEnumerable<Proyecto_Propietaria.Model.Rent_Devolution>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reporte de rentas </title>

        <style>
            th, td {
                padding: 15px;
                text-align: left;
                font-size: 17px;
            }

            #Imagen {
                text-align: right;
            }

            #Detalle {
                text-align: center;
            }

            table.blueTable {
                border: 1px solid #1C6EA4;
                background-color: #EEEEEE;
                width: 100%;
                text-align: left;
                border-collapse: collapse;
            }

                table.blueTable td, table.blueTable th {
                    border: 1px solid #AAAAAA;
                    padding: 3px 2px;
                }

                table.blueTable tbody td {
                    font-size: 13px;
                }

                table.blueTable tr:nth-child(even) {
                    background: #D0E4F5;
                }

                table.blueTable thead {
                    background: #1C6EA4;
                    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                    border-bottom: 2px solid #444444;
                }

                    table.blueTable thead th {
                        font-size: 15px;
                        font-weight: bold;
                        color: #FFFFFF;
                        border-left: 2px solid #D0E4F5;
                    }

                        table.blueTable thead th:first-child {
                            border-left: none;
                        }

                table.blueTable tfoot {
                    font-size: 14px;
                    font-weight: bold;
                    color: #FFFFFF;
                    background: #D0E4F5;
                    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
                    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
                    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
                    border-top: 2px solid #444444;
                }

                    table.blueTable tfoot td {
                        font-size: 14px;
                    }

                    table.blueTable tfoot .links {
                        text-align: right;
                    }

                        table.blueTable tfoot .links a {
                            display: inline-block;
                            background: #1C6EA4;
                            color: #FFFFFF;
                            padding: 2px 8px;
                            border-radius: 5px;
                        }
        </style>
        <head>

            <body>
                <h1 style="text-align: center;">Rent Car Company</h1>

                <h3>Ciudad: <b>Santo Domingo</b></h3>
                <h3>Fecha: @DateTime.Now.ToString("dd/MM/yyyy") </h3>

                <div>
                    <h2 id="Detalle">Reporte de renta</h2>
                    <table class="blueTable">
                        <thead>
                            <tr>
                                <th>No. Renta</th>
                                <th>Cliente</th>
                                <th>Vehículo</th>
                                <th>Moto por día</th>
                                <th>Cantidad día</th>
                                <th>Fecha renta</th>
                                <th>Empleado renta</th>
                                <th>Fecha devolución</th>
                                <th style="text-align: right;">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model)
                                {
                            <tr>
                                <td>@row.Rent_id</td>
                                    <td>@row.Client.Name</td>
                                    <td>@row.Car.Description</td>
                                    <td>RD$@row.Cost.ToString("###,###.00")</td>
                                    <td>@row.days</td>
                                    <td>@row.date_rent</td>
                                    <td>@row.Employee.Name</td>
                                    <td>@row.date_devolution</td>
                                    <td style="text-align: right;">RD$@(@row.days * @row.Cost).00</td>
                            </tr>
                              }
                        </tbody>
                    </table>
                </div>
            </body>
</html>
